{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>模具制造</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('.mold_making') }}">模具制造</a></li>
                    <li class=""><a href="{{ url_for('.advantages') }}">我们的优势</a></li>
                    <li class=""><a href="{{ url_for('.Project_management') }}">项目管理</a></li>
                    <li class=""><a href="{{ url_for('.design_engineering') }}">工程设计</a></li>
                    <li class=""><a href="{{ url_for('.injection_molding') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_001.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋CNC Workshop</h3>
                        <ul>
                            <li class="title-color text-bold left-padding">
                                <p>unice拥有高精密度的机器，并且不断精益求精，最大程度确保模具的尺寸和质量符合客户要求。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋EDM Workshop</h3>
                        <ul>
                            <li class="title-color text-bold">UNice管理着工具流程，在客户的设计师和工具制造商之间提供了经验丰富且知识渊博的联系，以确保工具的设计能够最大程度地提高生产效率并满足客户的质量和商业需求。</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_002.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-left media-middle pl20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_003.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Slow Wire Cut+Grinding Workshop</h3>
                        <ul>
                            <p class="title-color text-bold">我们的项目管理服务将确保在预算范围内按时制造工具，并生产出完全满足您要求的成型部件。 我们同意您的时间计划，并随着项目的进展使您保持最新状态。通过利用我们在工具设计方面的精深技术，我们以快速的交货时间和具有竞争力的价格提供了工具。</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}