{% extends "en/base.html" %}

{% block title %}unice-Mold Manufacturing{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="en-left">
                <div class="second-navbar-text-style">
                    <p class="text-bold"><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Mold
                        Manufacturing</p>
                    <p class="text-bold">Serve Passionately, Pursue Excellence</p>
                </div>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 165px;"><a href="{{ url_for('en.mold_making') }}">Mold
                            Manufacturing</a></li>
                    <li class="" style="width: 120px;"><a href="{{ url_for('en.advantages') }}">Advantages</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('en.Project_management') }}">Project
                            Management</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('en.design_engineering') }}">Design
                            Engineering</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('en.injection_molding') }}">Injection
                            Molding</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_001.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋CNC Workshop</h3>
                        <ul>
                            <p class="title-color text-bold left-padding">
                                For production of injection moulds we are equipped in our own tool shop with CNC
                                machining centers(MIKRON HS500L, Sodick S50L , DAHLIH MCV860 etc), the min precision
                                can be reach at 0.001mm.<br>
                                We use the high precision machines with a dedicated staff force to produce molds of
                                exceptional quality demand.<br>
                                Unice offers our partners a specialized R&D team, highly prepared to find the best
                                solutions during all production stages.
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr class="danger">
                            <th class="th-center">Description</th>
                            <th class="th-center">Maker</th>
                            <th class="th-center">Orginal</th>
                            <th class="th-center">Model</th>
                            <th class="th-center">Size</th>
                            <th class="th-center">Unit</th>
                            <th class="th-center">Q'ty</th>
                            <th class="th-center">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td rowspan="8" class="th-center">CNC Milling Machine</td>
                        <tr class="info">
                            <td>MIKRON</td>
                            <td>Swiss</td>
                            <td>HS500L</td>
                            <td>500*500*450</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr>
                            <td>Sodick</td>
                            <td>Japan</td>
                            <td>S50L</td>
                            <td>500*300*300</td>
                            <td>Sets</td>
                            <td>3</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr class="info">
                            <td>DAHLIH</td>
                            <td>Taiwan,China</td>
                            <td>MCV860</td>
                            <td>800*550*550</td>
                            <td>Sets</td>
                            <td>4</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr>
                            <td>Röders</td>
                            <td>Taiwan,China</td>
                            <td>700L</td>
                            <td>700*550*550</td>
                            <td>Sets</td>
                            <td>1</td>
                            <td>Accuracy +/- 0.002-0.005</td>
                        </tr>
                        <tr class="info">
                            <td>Yiqun</td>
                            <td>Taiwan,China</td>
                            <td>700L</td>
                            <td>1000*550*600</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.01</td>
                        </tr>
                        <tr>
                            <td>Sheng feng</td>
                            <td>Taiwan,China</td>
                            <td>SF500</td>
                            <td>500*350*200</td>
                            <td>Sets</td>
                            <td>1</td>
                            <td>Accuracy +/- 0.01</td>
                        </tr>
                        <tr>
                            <td>Sheng feng</td>
                            <td>Taiwan,China</td>
                            <td>SF500</td>
                            <td>500*350*200</td>
                            <td>Sets</td>
                            <td>1</td>
                            <td>Accuracy +/- 0.01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋EDM Workshop</h3>
                        <ul>
                            <p class="title-color text-bold">
                                Tool shops is also equipped with EDM machines( Agie Charmilles, Sodick AD30LS ,
                                Mitsubishi EA8 , Makino S500 etc), with the modern machinary fo the manufacture of
                                injection moulds,it help us to improve productivity and Shorten delivery time.
                            </p>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_002.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr class="danger">
                            <th class="th-center">Description</th>
                            <th class="th-center">Maker</th>
                            <th class="th-center">Orginal</th>
                            <th class="th-center">Model</th>
                            <th class="th-center">Size</th>
                            <th class="th-center">Unit</th>
                            <th class="th-center">Q'ty</th>
                            <th class="th-center">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td rowspan="6" class="th-center">EDM Machine</td>
                        <tr class="info">
                            <td>MIKRON</td>
                            <td>Swiss</td>
                            <td></td>
                            <td>300*250*250</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr>
                            <td>Sodick</td>
                            <td>Japan</td>
                            <td>AD30LS</td>
                            <td>300*250*250</td>
                            <td>Sets</td>
                            <td>4</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr class="info">
                            <td>Mitsubishi</td>
                            <td>Japan</td>
                            <td>EA8</td>
                            <td>250*200*250</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr>
                            <td>Taiichi</td>
                            <td>Taiwan,China</td>
                            <td>EP-50</td>
                            <td>450*350*250</td>
                            <td>Sets</td>
                            <td>4</td>
                            <td>Accuracy +/- 0.001</td>
                        </tr>
                        <tr class="info">
                            <td>Makino</td>
                            <td>Japan</td>
                            <td>S500</td>
                            <td>400*500*300</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <td rowspan="5" class="th-center"> Wire EDM </td>
                        <tr>
                            <td>Sodick</td>
                            <td>Japan</td>
                            <td>AG400L</td>
                            <td>400*300*250</td>
                            <td>Sets</td>
                            <td>6</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr class="info">
                            <td>Sodick</td>
                            <td>Japan</td>
                            <td>600*400</td>
                            <td>500*350*250</td>
                            <td>Sets</td>
                            <td>2</td>
                            <td>Accuracy +/- 0.005</td>
                        </tr>
                        <tr>
                            <td>Qinghong</td>
                            <td>Taiwan,China</td>
                            <td>G640F</td>
                            <td>600*400*300</td>
                            <td>Sets</td>
                            <td>8</td>
                            <td>Accuracy +/- 0.01</td>
                        </tr>
                        <tr class="info">
                            <td>Qinghong</td>
                            <td>Taiwan,China</td>
                            <td>G530F</td>
                            <td>500*350*250</td>
                            <td>Sets</td>
                            <td>4</td>
                            <td>Accuracy +/- 0.01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-left media-middle pl20">
                        <a><img src="{{ url_for('static',filename = 'img/molding_003.png') }}" alt=""
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Slow Wire Cut+Grinding Workshop</h3>
                        <ul>
                            <p class="title-color text-bold">We have 1 set of Grinding JINWEI-3060 and 6sets of Grinding
                                HF-618S, they help us to improve productivity and shorten delivery time.<br>
                                All the parts should be processed with our professional and highly qualified tool
                                makers. It ensure that all work is completed on time, defect free,100% of the time.
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr class="danger">
                            <th class="th-center">Description</th>
                            <th class="th-center">Maker</th>
                            <th class="th-center">Orginal</th>
                            <th class="th-center">Model</th>
                            <th class="th-center">Size</th>
                            <th class="th-center">Unit</th>
                            <th class="th-center">Q'ty</th>
                            <th class="th-center">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td class="th-center" rowspan="3"> Grinding </td>
                        <tr class="info">
                            <td>Jinwei</td>
                            <td>China</td>
                            <td>JINWEI-3060</td>
                            <td>600*300*350</td>
                            <td>Sets</td>
                            <td>1</td>
                            <td>Accuracy +/- 0.002-0.005</td>
                        </tr>
                        <tr>
                            <td>Yuchun</td>
                            <td>China</td>
                            <td>HF-618S</td>
                            <td>280*180*250</td>
                            <td>Sets</td>
                            <td>6</td>
                            <td>Accuracy +/- 0.002-0.005</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}