{% extends "bootstrap/base.html" %}


{% block title %}unice-base Index{% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename = 'img/icon/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}" type="text/css">
<script src="{{ url_for('static',filename = 'js/unice.js')}}"></script>
{% endblock %}


{% block navbar %}

<div class="container-fluid navbar-fixed-top">
    <div class="container-fluid top-style">
        &nbsp
    </div>
    <div class="row row-height">
        <div class="col-md-2 col-md-offset-2 header-logo">
            <img src="{{ url_for('static',filename = 'img/unice-logo-2.png') }}" alt="">
        </div>
        <div class="col-md-8 navbar-right">
            <ul class="nav navbar-nav navbar-style">
                <li class="active"><a href="{{ url_for('fr.index') }}">ACCUEIL</a></li>
                <li class=""><a href="{{ url_for('fr.mold_making') }}">SAVOIR FAIRE</a></li>
                <li class=""><a href="{{ url_for('fr.quality_assurance') }}">QUALITE</a></li>
                <li class=""><a href="{{ url_for('fr.Auto_Plastics_Part') }}">PRODUITS</a></li>
                <li class=""><a href="{{ url_for('fr.contact_us') }}">NOUS CONTACTER</a></li>
                <li><a href="{{ url_for('cn.index') }}" class="language-switch">CN</a></li>
                <li class="navbar-line-style">|</li>
                <li><a href="{{ url_for('main.index') }}" class="language-switch">EN</a></li>
                <li class="navbar-line-style">|</li>
                <li><a href="{{ url_for('fr.index') }}" class="language-switch">FR</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-bottom-color"></div>
    <div class="col-md-4 col-md-offset-4" id="flash-miss">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" style="z-index: 99;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}

<!-- footer need add block footer into  flask-bootstrap/base.html-->
{% block footer %}
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title"> Unice Mold Industrial(ShenZhen) Co., Ltd<span></span></h5>
                        <p>Unice Mold est un fabricant de moules d'injection, d'outillages et l'usinage de pièces complexes et de haute précision et de pièces prototypes, etc. </p>
                        <p>Nous fournissons des solutions de fabrication du plus simple au plus impossible, et couvre un large éventail d'industries, notamment l'automobile, la construction, l'électronique, le médical, etc..</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:40px">
                    <div class="widget no-box">
                        <h5 class="widget-title">LA SOCIETE<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('fr.index') }}">ACCUEIL</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('fr.mold_making') }}">SAVOIR FAIRE</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a
                                        href="{{ url_for('fr.quality_assurance') }}">QUALITE</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('fr.Auto_Plastics_Part') }}">PRODUITS</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('fr.contact_us') }}">NOUS CONTACTER</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Produits<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Auto_Plastics_Part') }}">Pièces automobile en plastique</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.twok_Molding') }}">Pièces bi-matière</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Electrical_Plastics_Molding') }}">Pièces électriques en plastique</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Insert_Molding') }}">Surmoulage Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Rubber') }}">Pièces en caoutchouc</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Casting') }}">Pièces moulées sous pression</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Stamping_tool_3') }}">L’outillage</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Precision') }}">Pièces de précision</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('fr.Prototype') }}">Pièces Prototypes</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">NOUS CONTACTER<span></span></h5>
                        <p class="footer-text-color">Add:406-04C, Building B, CMP Plant, No. 19, Science and Technology Zhongyi Road, Maling Community, Yuehai Street, Nanshan District, Shenzhen,Guangdong,518000,China</p>
                        <p class="footer-text-color"><span>Email: </span><a href="mailto:kayla@unicemold.com"
                                title="glorythemes">kayla@unicemold.com</a></p>
                        <ul class="social-footer2">
                            <li class="">
                                <a title="youtube" target="_blank" href="#">
                                    <img alt="youtube" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/youtube.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="#" target="_blank" title="Facebook">
                                    <img alt="Facebook" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/facebook.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="#" target="_blank" title="Twitter">
                                    <img alt="Twitter" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/twitter.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="callto://kayla@unicemold.com" target="_blank" title="skype">
                                    <img alt="skype" width="20" height="20"
                                        src="{{ url_for('static',filename = 'img/icon/skype3.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.linkedin.com/company/unice-mold" target="_blank" title="linkedin">
                                    <img alt="linkedin" width="20" height="20"
                                        src="{{ url_for('static',filename = 'img/icon/linkedin.png') }}">
                                </a>
                            </li>
                        </ul>
                        <p class="mt15 pd-left">
                            <a title="wechat" target="_blank">
                                <img alt="instagram" width="85" height="85" src="{{ url_for('static',filename = 'img/icon/wechat.gif') }}">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Unice © 2019. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });    
</script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#flash-miss').hide();
        }, 3000);
      });
</script>
{% endblock scripts %}
{% endblock %}