/* 导航栏设置 */

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-style {
    background-color: #57606F;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
}


/* 导航条ul设置 */

.navbar-nav {
    letter-spacing: -5px;
    float: none;
    text-align: center;
    position: relative;
}


/* 导航条li设置 */

.navbar-nav>li {
    letter-spacing: normal;
    float: none;
    display: inline-block;
    margin: 0;
    position: relative;
}


/* 导航条链接a设置 */

.navbar-nav li a {
    color: white;
    font-size: 15px;
    width: 150px;
    border-left: 2px solid white;
    position: relative;
}


/* 导航条三角图标设置 */

.navbar-nav li a span {
    border-top: 6px dashed;
    border-top: 6px solid \9;
    border-right: 6px solid transparent;
    border-left: 5px solid transparent;
}


/* 导航条链接a伪元素 */

.navbar-nav li a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #008000;
    transition: 0.3s all linear;
}


/* 导航条鼠标滑过出现下划线 */

.navbar-nav li a:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    transition-delay: 0.1s;
}

/* 导航条菜单最右侧白边设置 */

.last-navbar {
    border-right: 2px solid white;
}


/* 产品下拉菜单 */

.dropdown-menu {
    min-width: 150px;
    padding: 0;
}


/* 下拉菜单链接 */

.dropdown-menu li a {
    height: 50px;
    text-align: center;
    line-height: 50px;
}


/* 下拉菜单背景色 */

.dropdown-menu li a:hover {
    color: #ffefef;
    background-color: #2f3542;
}


/* 导航文字过长设置 */

#longtext-style {
    padding: 3px 0px;
    font-size: 14px;
}


/* 下拉菜单滑过时自动弹出 */

.dropdown:hover .dropdown-style {
    border-left: 1px;
    display: block;
    margin-top: -1px;
    border-radius: 0;

}



/* 下拉菜单隔行换色 */ /* 奇数行  */

.dropdown li:nth-of-type(odd) {
    background: #2f3542;
}


/* 偶数行 */

.dropdown li:nth-of-type(even) {
    background: #57606F;
}


/* 下拉菜单滑过时颜色 */

.navbar-nav>li>a:hover {
    color: #ced6e0;
    background-color: #747d8c;
}


/* 二级菜单 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* 二级子菜单位置 */

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>.dropdown-list-style {
    margin-top: -1px;
    border-left: 1px;
}


.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: white;
    margin-top: 20px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* active 样式 */
/* .nav .active {
    background-color: #FF4757;
} */

/* 下拉菜单点击变色 */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #FF4757;
    border-left: 2px solid white;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    color: white;
    background-color: #FF4757;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: white;
    background-color: #FF4757;
}
/* 页脚设置 */

.footer {
    background-color: #57606F;
    width: 100%;
    height: 265px;
    color: #fff;
    padding: 0;
}


/* 页脚内容布局 */

.footer .inner-text {
    margin-top: 13px;
    margin-bottom: 12px;
}

.link-ohter {
    height: 200px;
    border-left: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.link-ohter .text-margin {
    margin-bottom: 2px;
}

.link-ohter .product-link {
    font-size: 10px;
}

.top-padding-1 {
    padding-top: 60px;
}

.top-padding-2 {
    padding-top: 25px;
    padding-left: 20px;
    text-align: left;
}

.top-padding-3 {
    padding-top: 10px;
}

.top-padding-3 img {
    margin-top: 15px;
}


/* 文字颜色 */

.link-ohter a {
    color: #fff;
}


/* 文字滑过颜色 */

.link-ohter a:hover {
    text-decoration: none;
    color: #bcbcbc;
}


/* 页脚最右侧白线 */

.last-line {
    border-right: 2px solid #fff;
}


/* 页脚最底部内容 */

.footer .bottom-footer {
    font-size: 14px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #2F3542;
    text-align: center;
    line-height: 40px;
}


/* 解决右侧空白问题 */

.footer-row-style {
    margin-left: 0;
    margin-right: 0;
}


/* 轮播图片 */

.carousel .carousel-inner .item img {
    height: 400px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}


/* 主页分割线样式 */

.divider {
    border-bottom: 1px solid #eee;
    margin: 35px 0;
}


/* 主页正文内容样式 */

.media .index-text-style {
    font-size: 14px;
    text-align: left;
    line-height: 250%;
    padding: 0 50px;
    /* text-indent: 32px; */
    font-family: "Times New Roman", Times, serif;
    /* font-weight: bold; */
}


/* 鼠标移到图片放大 */

.media a img {
    transition: all 0.8s;
}

.media a img:hover {
    transform: scale(1.05);
}


/* H3标题样式 */

.media .index-text-style h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* 解决方案文本过多，调整样式 */

.media .solution-text-style {
    /* line-height: 200%; */
}

/* 产品分类标题 */
.product-title {
    text-align: center;
    font-size: 16px;
    color: black;
}

/* 产品类别鼠标划过效果 */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }



.row .col-md-4 .thumbnail a .products-style {
    width: 85%;
    height: 85%;
    position: absolute;
    left:0;
    top:0;
    color:black;
    opacity: 0;
}

.row .col-md-4 .thumbnail a .products-style:hover {
    background-color: #eccc68;
    opacity: 0.8;
    transition: opacity 0.8s;
}

/* 缩略图样式 */

.row .col-md-4 .thumbnail .products-style h4 {
    margin-top: 100px;
    text-align: center;
}


/* 关于我们页面样式 */

.aboutus-style {
    padding: 50px;
}