{% extends "bootstrap/base.html" %}


{% block title %}unice-base Index{% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}" type="text/css">
<script src="{{ url_for('static',filename = 'js/unice.js')}}"></script>
{% endblock %}


{% block navbar %}

<div class="container-fluid navbar-fixed-top">
    <div class="container-fluid top-style">
        &nbsp
    </div>
    <div class="row row-height">
        <div class="col-md-3 col-md-offset-2 header-logo">
            <img src="{{ url_for('static',filename = 'img/unice-logo-2.png') }}" alt="">
        </div>
        <div class="col-md-6 navbar-right">
            <ul class="nav navbar-nav navbar-style">
                <li class="active"><a href="{{ url_for('main.index') }}">HOME</a></li>
                <li class=""><a href="{{ url_for('main.mold_making') }}">SERVICES</a></li>
                <li class=""><a href="{{ url_for('main.quality_control') }}">QUALITY</a></li>
                <li class=""><a href="{{ url_for('main.Auto_Plastics_Part') }}">PRODUCTS</a></li>
                <li class=""><a href="{{ url_for('main.contact_us') }}">CONTACT</a></li>
                <li><a href="{{ url_for('main.index') }}" class="language-switch">CN</a></li>
                <li class="navbar-line-style">|</li>
                <li><a href="{{ url_for('main.index') }}" class="language-switch">EN</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-bottom-color"></div>
    <div class="col-md-4 col-md-offset-4" id="flash-miss">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" style="z-index: 99;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}

<!-- footer设置：需要在flask-bootstrap/base.html 基础文件里面添加  block footer  -->
{% block footer %}
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title"> Unice Mold Industrial Co.,Ltd <span></span></h5>
                        <p>
                            Unice is  a manufacturer of injection mold manufacturing, custom plastic injection molding, stamping molds,  precision machined parts and prototype parts etc.
                        </p>
                        <p>
                            We provide manufacturing solutions from simple to impossible, and covers a wide range of industries including automotive, construction, electronics,medical,industry etc.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:40px">
                    <div class="widget no-box">
                        <h5 class="widget-title">COMPANY<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.index') }}">HOME</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.mold_making') }}">SERVICES</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a
                                        href="{{ url_for('main.quality_control') }}">QUALITY</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.Auto_Plastics_Part') }}">PRODUCTS</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.contact_us') }}">CONTACT</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">PRODUCTS<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb10"><a
                                        href="{{ url_for('main.Auto_Plastics_Part') }}">Auto Plastic Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.twok_Molding') }}">2K Molding Parts</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Electrical_Plastics_Molding') }}">Electrical Plastic Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Insert_Molding') }}">Insert Molding Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Rubber') }}">Rubber Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Casting') }}">Die Casting Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_3') }}">Stamping Tooling</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_1') }}">Terminal Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_2') }}">Metal Shrapnel Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.components') }}">Precision machined Parts</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.prototype') }}">Prototype Parts</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">CONTACT US<span></span></h5>
                        <p class="footer-text-color"><span>Add:Building A35,Western Industrial Park,Tantou Village,Songgang Town,Baoan District,Shenzhen,China</span></p>
                        <p class="footer-text-color"><span>TEL:+86-18176080868</span></p>
                        <p class="footer-text-color"><span>Email:</span><a href="mailto:kayle@unicemold.com"
                                title="glorythemes">kayle@unicemold.com</a></p>
                        <ul class="social-footer2">
                            <li class="">
                                <a title="youtube" target="_blank" href="https://www.youtube.com">
                                    <img alt="youtube" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/youtube.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.facebook.com" target="_blank" title="Facebook">
                                    <img alt="Facebook" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/facebook.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.twitter.com" target="_blank" title="Twitter">
                                    <img alt="Twitter" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/twitter.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.skype.com" target="_blank" title="skype">
                                    <img alt="skype" width="20" height="20"
                                        src="{{ url_for('static',filename = 'img/icon/skype3.png') }}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Unice © 2019. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });    
</script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#flash-miss').hide();
        }, 3000);
      });
</script>
{% endblock scripts %}
{% endblock %}