{% extends "bootstrap/base.html" %}


{% block title %}unice-base Index{% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}" type="text/css">
<script src="{{ url_for('static',filename = 'js/unice.js')}}"></script>
{% endblock %}

{% block body %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="top-style"></div>
    <div class="container-fluid">
        <div class="navbar-header row-height">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><img
                    src="{{ url_for('static',filename = 'img/unice-logo-2.png') }}" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('main.index') }}">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="{{ url_for('main.mold_making') }}">SERVICES</a></li>
                <li><a href="{{ url_for('main.quality_control') }}">QUALITY</a></li>
                <li><a href="{{ url_for('main.Auto_Plastics_Part') }}">PRODUCTS</a></li>
                <li><a href="{{ url_for('main.contact_us') }}">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-bottom-color"></div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

<!-- footer need add block footer into  flask-bootstrap/base.html-->
{% block footer %}
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title"> Unice Mold Industrial(ShenZhen) Co., Ltd <span></span></h5>
                        <p>
                            Unice is a manufacturer of injection mold manufacturing, custom plastic injection molding,
                            stamping molds, precision machined parts and prototype parts etc.
                            <br>
                            We provide manufacturing solutions from simple to impossible, and covers a wide range of
                            industries including automotive, construction, electronics,medical,industry etc.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3"">
                    <div class="widget no-box">
                        <h5 class="widget-title">COMPANY<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.index') }}">HOME</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.mold_making') }}">SERVICES</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a
                                        href="{{ url_for('main.quality_control') }}">QUALITY</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a
                                        href="{{ url_for('main.Auto_Plastics_Part') }}">PRODUCTS</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb15"><a href="{{ url_for('main.contact_us') }}">CONTACT</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">PRODUCTS<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Auto_Plastics_Part') }}">Auto
                                        Plastic Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.twok_Molding') }}">2K Molding
                                        Parts</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a
                                        href="{{ url_for('main.Electrical_Plastics_Molding') }}">Electrical Plastic
                                        Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Insert_Molding') }}">Insert
                                        Molding Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Rubber') }}">Rubber Parts</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Casting') }}">Die Casting
                                        Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_1') }}">Stamping
                                        Tooling</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_2') }}">Terminal
                                        Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.Stamping_tool_3') }}">Metal
                                        Shrapnel Parts</a></div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.precision') }}">Precision
                                        machined Parts</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content mb10"><a href="{{ url_for('main.prototype') }}">Prototype
                                        Parts</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">CONTACT US<span></span></h5>
                        <p class="footer-text-color"><span>406-04C, Building B,Cybino CMP Plant,Science and Technology
                                Zhongyi Road No.19,Maling Community,Nanshan District,Guangdong Province,China</span></p>
                        <p class="footer-text-color"><span>Email:</span><a href="mailto:kayla@unicemold.com"
                                title="glorythemes">kayla@unicemold.com</a></p>
                        <ul class="social-footer2">
                            <li class="">
                                <a title="youtube" target="_blank" href="https://www.youtube.com">
                                    <img alt="youtube" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/youtube.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.facebook.com" target="_blank" title="Facebook">
                                    <img alt="Facebook" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/facebook.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.twitter.com" target="_blank" title="Twitter">
                                    <img alt="Twitter" width="30" height="30"
                                        src="{{ url_for('static',filename = 'img/icon/twitter.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="skype:kayla@unicemold.com?chat" target="_blank" title="skype">
                                    <img alt="skype" width="20" height="20"
                                        src="{{ url_for('static',filename = 'img/icon/skype3.png') }}">
                                </a>
                            </li>
                            <li class="">
                                <a href="https://www.linkedin.com/company/unice-mold" target="_blank" title="linkedin">
                                    <img alt="linkedin" width="20" height="20"
                                        src="{{ url_for('static',filename = 'img/icon/linkedin.png') }}">
                                </a>
                            </li>
                        </ul>
                        <p class="mt15 pd-left">
                            <a title="wechat" target="_blank">
                                <img alt="instagram" width="85" height="85"
                                    src="{{ url_for('static',filename = 'img/icon/wechat.gif') }}">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright Unice © 2019. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer -->

<!-- BackTop div -->
<div class="back-to" id="toolBackTop">
    <a title="BackTop" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top"></a>
</div>
<!-- BackTop div -->

{% block scripts %}
{{ super() }}
{% endblock scripts %}
{% endblock %}