{% extends "en/base.html" %}

{% block title %}unice-Index{% endblock %}


{% block content %}
<!-- 导航banner -->
<div id="carousel-generic" class="carousel slide myCarousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/static/img/banner001-en.png" alt="">
        </div>
        <div class="item">
            <img src="/static/img/banner002-en.png" alt="">
        </div>
        <div class="item">
            <img src="/static/img/banner003-en.png" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="bg-style clear index-first container-margin">
    <div class="container index_padding first-padding">
        <div class="title">Unice Mold-Your Best Choice</div>
        <div class="text-style">
            <p>
                Unice is a manufacturer of injection mold, custom plastic injection molding, stamping tools and precision machined parts and prototype parts etc. We provide manufacturing solutions from simple to impossible, and covers a wide range of industries, including automotive, construction, electronics,medical etc.
            </p>
            <br/>
            <p>Our company attaches great importance to personnel training. After many years of technological precipitation, we have gathered a group of high-quality, efficient and quality-oriented management teams and technical service teams. Following the company's development ideas of being refined, stronger and bigger, with the purpose of helping customers optimize product structure, formulate the optimal molding scheme and the most economical production cost method, we have gradually become the industry leader and won domestic and foreign Well-known brand customers recognized and established a good supporting cooperative relationship.
            </p>
                
        </div>
        <a href="{{ url_for('main.mold_making') }}" class="btn-style">&gt; READ MORE</a>
    </div>
</div>
<div class="bg-style clear index-second container-margin">
    <div class="container index_padding">
        <div class="row index-text-style">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/quality.png')}}" alt="">
                    <div class="overlay">
                        <h2>Quality</h2>
                        <a class="info" href="{{ url_for('main.quality_control') }}">READ MORE</a>
                    </div>
                </div>
                <div class="inner-margin"></div>
                <div class="text-center clear">
                    <h3 class="title-color">Quality</h3>
                    <p class="p-height">
                        Quality is the primary pursuit of Unice. With a modern and advanced inspection department， UNIC is able to offer the customer a full inspection and quality reporting package. 
                    </p>
                    <p><a href="{{ url_for('main.quality_control') }}" class="btn-style">&gt; READ MORE</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/product.jpg')}}" alt="">
                    <div class="overlay">
                        <h2>Products</h2>
                        <a class="info" href="{{ url_for('main.Auto_Plastics_Part') }}">READ MORE</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">Products</h3>
                    <p class="p-height">
                        Unice is specialized in injection mold manufacturing, custom plastic injection molding, stamping molds, precision machined parts and prototype parts etc.
                    </p>
                    <p><a href="{{ url_for('main.Auto_Plastics_Part') }}" class="btn-style">&gt; READ MORE</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/our-servers.png')}}" alt="">
                    <div class="overlay">
                        <h2>Services</h2>
                        <a class="info" href="{{ url_for('main.mold_making') }}">READ MORE</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">Services</h3>
                    <p class="p-height">We work closely with customers from initial design to delivery parts, your project will be managed by our project manager to ensure high quality and first-class service.</p>
                    <p><a href="{{ url_for('main.mold_making') }}" class="btn-style">&gt; READ MORE</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media">
            <div class="media-left media-middle pl20 pt20">
                <a href="{{ url_for('main.Auto_Plastics_Part') }}"><img src="{{ url_for('static',filename='img/index_01.png') }}" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋Injection Manufacturing</h3>
                <ul>
                    <li class="title-color text-bold">Auto Plastic Parts</li>
                    <li class="title-color text-bold">2K Molding Parts</li>
                    <li class="title-color text-bold">Electrical Plastic Parts</li>
                    <li class="title-color text-bold">Insert Molding Parts</li>
                    <li class="title-color text-bold">Rubber Parts</li>
                    <li class="title-color text-bold">Die Casting Parts</li>
                </ul>
                <p><a href="{{ url_for('main.Auto_Plastics_Part') }}" class="btn-style btn-margin">&gt; READ MORE</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-body index-text-style">
                <h3 class="title-color">＋Stamping Tool</h3>
                <ul>
                    <li class="title-color text-bold">Stamping Tooling</li>
                    <li class="title-color text-bold">Terminal Parts</li>
                    <li class="title-color text-bold">Metal Shrapnel Parts</li>
                </ul>
                <p><a href="{{ url_for('main.Stamping_tool_3') }}" class="btn-style btn-margin">&gt; READ MORE</a></p>
            </div>
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('main.Stamping_tool_3') }}"><img src="{{ url_for('static',filename='img/stamptool.png') }}" alt="" class="img-rounded"></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-left media-middle pl20">
                <a href="{{ url_for('main.components') }}"><img src="{{ url_for('static',filename='img/components.png')}}" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋Precision Parts</h3>
                <p class="title-color">
                    We manufacture competitive and innovative precision machined parts. Unicemold is ​​committed to meeting the strict requirements of our customers and is committed to providing a "center of excellence". From initial design to delivery parts, your project will be managed by our project manager to ensure high quality and first-class service.
                </p>
                <br><br><br>
                <p><a href="{{ url_for('main.components') }}" class="btn-style btn-margin">&gt; READ MORE</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-body index-text-style">
                <h3 class="title-color">＋ Prototype Parts</h3>
                <ul>
                    <p class="title-color">
                        You may need several prototype iterations to fully realise your ideas,We’ll optimise both your tooling and your moulded part design, and move your ideas effectively to support your final design and on to production. Prototyping can let you touch and feel your component before moving on to full production.
                    </p>
                    <p class="title-color">The printed, moulded and machined prototypes which we can offer:</p>
                    <li class="title-color text-bold">3D printing</li>
                    <li class="title-color text-bold">Machined Prototype Parts</li>
                    <li class="title-color text-bold">Moulded Prototype Parts</li>
                    <li class="title-color text-bold">Aliminium Prototype Parts</li>
                </ul>
                <p><a href="{{ url_for('main.prototype') }}" class="btn-style btn-margin">&gt; READ MORE</a></p>
            </div>
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('main.prototype') }}"><img src="{{ url_for('static',filename='img/Prototype.png') }}" alt="" class="img-rounded"></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('main.injection_molding') }}"><img src="{{ url_for('static',filename='img/plastic01.png') }}" alt="" class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋Injection Molding</h3>
                <ul>
                    <p class="title-color text-bold">We have 26 plastic injection molding machines and they offer:</p>
                        <li class="title-color">Choice of 90 ton up to 400 ton machines</li>
                        <li class="title-color">Ability to match your project requirements to a range of machines ensuring maximum efficiency and cost reduction</li>
                        <li class="title-color">Unice can operate 24 hours a day and 7 days a week. Capability to  manufacture precision parts to larger engineered components</li>
                        <li class="title-color">Quick set up times allow for reduced costs</li>
                        <li class="title-color">Production schedules which create maximum efficiency</li>
                        <li class="title-color">Efficient machine / people utilization which keeps prices competitive</li>
                        <li class="title-color">Unice’s continuous investment in new plant and equipment keeps us at the forefront of modern manufacturing technologies, and ensures we can process the widest range of engineering polymers.</li>
                        <li class="title-color">All plastic injection molding services are delivered in line with ISO 9001 quality standards.</li>
                </ul>
                <p><a href="{{ url_for('main.injection_molding') }}" class="btn-style btn-margin">&gt; READ MORE</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}