{% extends "cn/base.html" %}

{% block title %}unice-Index{% endblock %}


{% block content %}
<!-- 导航banner -->
<div id="carousel-generic" class="carousel slide myCarousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ url_for('static',filename = 'img/banner001.png') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static',filename = 'img/banner002.png') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static',filename = 'img/banner003.png') }}" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="bg-style clear index-first container-margin">
    <div class="container index_padding first-padding">
        <div class="title">优耐思专业模具制造——您的最佳选择</div>
        <div class="text-style">
            <p>优耐思模具是一家集精密模具制造（塑胶模具和五金模具),注塑的实体制造商。现共有员工 50 多人 ,工厂拥有精密模具部,无尘注塑车间及装配车间,为客户提供全方位的服务。</p>
            <br/>
            <p>我司重视人才培养，经多年技术沉淀，汇聚了一批高素质，高效率，重质量的管理团队和技术服务队伍。遵循公司做精、做强、做大的发展思路，以帮助客户优化产品结构、制定最优的成型方案和最经济的生产成本方式为宗旨,我们逐步打造成行业的领先者,得到了国内外知名品牌客户的认可并建立了良好的配套合作关系。</p>
                
        </div>
        <a href="{{ url_for('cn.mold_making') }}" class="btn-style">&gt; 了解更多</a>
    </div>
</div>
<div class="bg-style clear index-second container-margin">
    <div class="container index_padding">
        <div class="row index-text-style">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/quality.png')}}" alt="">
                    <div class="overlay">
                        <h2>品质控制</h2>
                        <a class="info" href="{{ url_for('cn.quality_assurance') }}">了解更多</a>
                    </div>
                </div>
                <div class="inner-margin"></div>
                <div class="text-center clear">
                    <h3 class="title-color">品质控制</h3>
                    <p>品质是Unice的首要追求</p>
                    <p><a href="{{ url_for('cn.quality_assurance') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/product.jpg')}}" alt="">
                    <div class="overlay">
                        <h2>我们的产品</h2>
                        <a class="info" href="{{ url_for('cn.Auto_Plastics_Part') }}">了解更多</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">我们的产品</h3>
                    <p>塑料,五金,注塑,多种产品类别供您选择</p>
                    <p><a href="{{ url_for('cn.Auto_Plastics_Part') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename='img/our-servers.png')}}" alt="">
                    <div class="overlay">
                        <h2>我们的服务</h2>
                        <a class="info" href="{{ url_for('cn.mold_making') }}">了解更多</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">我们的服务</h3>
                    <p>Unice从事注塑模具制造，注塑成型和冲压模具。</p>
                    <p><a href="{{ url_for('cn.mold_making') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media">
            <div class="media-left media-middle pl20 pt20">
                <a href="{{ url_for('cn.Auto_Plastics_Part') }}"><img src="{{ url_for('static',filename='img/index_01.png') }}" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋塑胶模具制造</h3>
                <ul>
                    <li class="title-color text-bold">插件塑胶制品</li>
                    <li class="title-color text-bold">电子塑胶制品</li>
                    <li class="title-color text-bold">硅胶制品</li>
                    <li class="title-color text-bold">汽车塑胶制品</li>
                    <li class="title-color text-bold">双色塑胶制品</li>
                    <li class="title-color text-bold">压铸制品</li>
                </ul>
                <p><a href="{{ url_for('cn.Auto_Plastics_Part') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-body index-text-style">
                <h3 class="title-color">＋五金模具制造</h3>
                <ul>
                    <li class="title-color text-bold">弹片或屏蔽罩</li>
                    <li class="title-color text-bold">拉伸或厚料五金产品</li>
                    <li class="title-color text-bold">五金端子</li>
                </ul>
                <p><a href="{{ url_for('cn.Stamping_tool_3') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('cn.Stamping_tool_3') }}"><img src="{{ url_for('static',filename='img/stamptool.png') }}" alt="" class="img-rounded"></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-left media-middle pl20">
                <a href="{{ url_for('cn.components') }}"><img src="{{ url_for('static',filename='img/components.png') }}" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋精密零件</h3>
                <br><br><br>
                <p><a href="{{ url_for('cn.components') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-body index-text-style">
                <h3 class="title-color">＋原型产品</h3>
                <ul>
                    <p class="title-color">
                        您可能需要几次原型迭代才能完全实现您的想法。我们将优化您的模具和零件设计，并有效地转移您的想法以支持最终设计并投入生产。 原型制作可以让您在进入全面生产之前就触摸并感觉到您的组件。                    </p>
                    <p class="title-color">我们可以提供印刷，模制和机加工的原型：</p>
                    <li class="title-color text-bold">3D打印</li>
                    <li class="title-color text-bold">使用低成本原型工具模制零件</li>
                    <li class="title-color text-bold">使用铝模铸模的零件</li>
                    <li class="title-color text-bold">机械零件</li>
                </ul>
                <p><a href="{{ url_for('cn.prototype') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('cn.prototype') }}"><img src="{{ url_for('static',filename='img/Prototype.png') }}" alt="" class="img-rounded"></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('cn.injection_molding') }}"><img src="{{ url_for('static',filename='img/plastic01.png') }}" alt="" class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋注塑生产</h3>
                <ul>
                    <p class="title-color text-bold">我们有73台塑料注塑机，它们提供：</p>
                        <li class="title-color">90吨至400吨机器的选择</li>
                        <li class="title-color">能够将您的项目要求与一系列机器相匹配，以确保最高效率和降低成本</li>
                        <li class="title-color">能够为大型工程部件制造精密零件</li>
                        <li class="title-color">优耐思可以每周7天,每天24小时运转快速设置时间可降低成本,产生最大效率的生产计划</li>
                        <li class="title-color">高效的机器/人员利用率，保持价格竞争力</li>
                        <li class="title-color">优耐思在新工厂和设备上的持续投资使我们始终处于现代制造技术的最前沿，并确保我们可以加工最广泛的工程聚合物。</li>
                </ul>
                <p><a href="{{ url_for('cn.injection_molding') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}