{% extends "en/base.html" %}

{% block title %}unice-Insert Molding Parts{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="en-left">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Injection mould manufacturing>>Insert Molding Parts</p>
                    <p>Serve Passionately, Pursue Excellence</p>
                </div>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 220px;"><a href="{{ url_for('en.Auto_Plastics_Part') }}">Injection mould manufacturing</a></li>
                    <li class=""><a href="{{ url_for('en.Stamping_tool_3') }}">Stamping Tool</a></li>
                    <li class=""><a href="{{ url_for('en.components') }}">Precision Parts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel-group" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" href=""
                                            aria-expanded="true" aria-controls="collapseListGroup1">
                                            Injection mould manufacturing
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                                    <ul class="list-group">
                                        <a href="{{ url_for('en.Auto_Plastics_Part') }}"
                                            class="list-group-item">Auto Plastic parts</a>
                                        <a href="{{ url_for('en.twok_Molding') }}"
                                            class="list-group-item ">2K Molding</a>
                                        <a href="{{ url_for('en.Electrical_Plastics_Molding') }}"
                                            class="list-group-item">Electrical Plastic parts</a>
                                        <a href="{{ url_for('en.Insert_Molding') }}"
                                            class="list-group-item active">Insert Molding Parts</a>
                                        <a href="{{ url_for('en.Rubber') }}" class="list-group-item">Rubber Parts</a>
                                        <a href="{{ url_for('en.Casting') }}" class="list-group-item">Casting Product</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/1.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/2.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/3.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/4.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/5.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Insert/6.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}