{% extends "en/base.html" %}

{% block title %}unice-Terminal Parts{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="en-left">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Stamping Tool>>Terminal Parts</p>
                    <p>Serve Passionately, Pursue Excellence</p>
                </div>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" style="width: 180px;"><a href="{{ url_for('main.Auto_Plastics_Part') }}">Injection manufacturing</a></li>
                    <li class="active" style="width: 130px;"><a href="{{ url_for('main.Stamping_tool_3') }}">Stamping Tools</a></li>
                    <li class="" style="width: 130px;"><a href="{{ url_for('main.precision') }}">Precision Parts</a></li>
                    <li class="" style="width: 130px;"><a href="{{ url_for('main.prototype') }}">Prototype Parts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel-group" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" href=""
                                            aria-expanded="true" aria-controls="collapseListGroup1">
                                            Stamping Tool
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
                                    <ul class="list-group">
                                        <a href="{{ url_for('main.Stamping_tool_3') }}" class="list-group-item">Metal Shrapnel Parts</a>
                                        <a href="{{ url_for('main.Stamping_tool_1') }}" class="list-group-item">Stamping Tooling</a>
                                        <a href="{{ url_for('main.Stamping_tool_2') }}" class="list-group-item active">Terminal Parts</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/1.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/2.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/3.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/4.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/5.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/Stamping2/6.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}