{% extends "base.html" %}

{% block title %}unice-Contact us{% endblock %}

{% block page_content %}
{{ super() }}
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">联系我们</li>
            </ol>
            <div class="container index-text-style">
                <p>地址：深圳市南山区粤海街道麻岭社区科技中一路19号赛百诺CMP厂房B栋406-04C</p>
                <p>电话：010-0000000</p>
                <p>邮编：530000</p>
                <p>邮箱：nice@163.com</p>
            </div>
            <div class="divider"></div>
            <h3>有任何问题都可以给我们留言</h3>
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label for="yourname">您的名字：</label>
                        <input type="text" class="form-control" id="yourname" placeholder="your name">
                    </div>
                    <label for="youremail">您的邮箱：</label>
                    <input type="email" class="form-control" id="youremail" placeholder="your Email">
                </div>
                <div class="form-group">
                    <label for="yourcompany">您的公司名称：</label>
                    <input type="text" class="form-control" id="yourcompany" placeholder="your company">
                </div>
                <div class="form-group">
                    <label for="yourphone">您的电话：</label>
                    <input type="text" class="form-control" id="yourphone" placeholder="your phone number">
                </div>
                <div class="form-group">
                    <label for="query-text">您要咨询的内容：</label>
                    <textarea class="form-control" id="query-text" rows="8"></textarea>
                    </div>
                <button type="submit" class="btn btn-default">提 交</button>
            </form>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}