{% extends "fr/base.html" %}

{% block title %}unice-Contrôle de Qualité{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Contrôle de Qualité</p>
                    <p>Service chaleureux et recherche de l'excellence</p>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 180px"><a href="{{ url_for('fr.quality_assurance') }}">Contrôle de Qualité</a></li>
                    <li class="" style="width: 180px;"><a href="{{ url_for('fr.process_flowchart') }}">Processus Qualité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_01.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Contrôle qualité</h3>
                        <p>La qualité est le fondement de l'entreprise. Nous utilisons des outils de mesure de haute précision et des appareils avancés pour vérifier strictement et soigneusement toutes les pièces et tous les processus.
                            Toutes les dimensions et caractéristiques critiques seront contrôlées tout au long du processus.</p>
                        <img src="{{ url_for('static',filename='img/quality_assurance_02-fr.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Contrôle Qualité</h3>
                        <ul>
                            <li class="title-color text-bold">Pour l'inspection des pièces fabriquées pour les moules d'injection, les outillages, mais aussi pour la mesure des premiers échantillons de pièces en plastique ou en métal sont régulièrement inspectées et mesurées par les machines Hexagon Metrology CMM et Seven Ocean Camera.</li>
                            <li class="title-color text-bold">À la demande du client, le contrôle du processus SPC des caractéristiques importantes est effectué par Hexagon Metrology CMM et Seven Ocean Camera.</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_03.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}