{% extends "en/base.html" %}

{% block title %}unice-Quality Control{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Quality Control</p>
                    <p>Serve Passionately, Pursue Excellence</p>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 180px;"><a href="{{ url_for('en.quality_control') }}">Quality Control</a></li>
                    <li class="" style="width: 180px;"><a href="{{ url_for('en.quality_process') }}">Quality Process</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_01.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Quality Control</h3>
                        <p class="text-bold title-color">
                            Quality is the foundation of the company. We use high precision measurement tools and advanced devices to check strictly and carefully all parts and processes.<br>
                            All critical dimensions and characteristics will be controlled throughout the whole process.                            
                        </p>
                        <img src="{{ url_for('static',filename='img/quality_assurance_02.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋Quality Control</h3>
                        <ul>
                            <li class="title-color text-bold">
                                For inspection of manufactured parts for injection moulds, stamping tools and electrodes but also for the measurement of the first samples of plastic or metal parts we are using 3D CMM Wenzel LH 87, 3D CMM Werth Scope-Check FB/Z and 3D measuring microscope Mitutoyo MF-B2017C. 
                            </li>
                            <li class="title-color text-bold">
                                Mass-produced plastic or metal parts are regularly visually inspected and measured according to the control documentation. 
                            </li>
                            <li class="title-color text-bold">
                                On customer request, the SPC process control of important characteristics is done by analyzing of measured data using 3D CMM Wenzel LH 65, profile projector Mitutoyo PJ-A 3000, 3D measuring microscope Mitu¬toyo MF-B2017C and SW Q-DAS/Hexagon - O-QIS and QS-STAT.
                            </li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_03.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}