{% extends "base.html" %}

{% block title %}unice-我们的优势{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>我们的优势</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('.mold_making') }}">模具制造</a></li>
                    <li class="active"><a href="{{ url_for('.advantages') }}">我们的优势</a></li>
                    <li class=""><a href="{{ url_for('.Project_management') }}">项目管理</a></li>
                    <li class=""><a href="{{ url_for('.design_engineering') }}">工程设计</a></li>
                    <li class=""><a href="{{ url_for('.injection_molding') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="{{ url_for('.Insert_Molding') }}"><img src="static\img\advant_01.jpg" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋我们的优势</h3>
                        <ul>
                            <p>产品开发初始便会与客户紧密沟通，密切关注客户需要变化，直到生产出成品。</p>
                            <li class="title-color text-bold">品质优良，符合欧洲生产工艺标准</li>
                            <li class="title-color text-bold">持续改进，勇于创新</li>
                            <li class="title-color text-bold">拥有强大的项目管理能力，丰富的工程设计经验</li>
                            <li class="title-color text-bold">高精密度的机器，做出的产品无可挑剔</li>
                            <li class="title-color text-bold">定价合理，交货准时</li>
                            <li class="title-color text-bold">通过ISO9001认证，正在申请认证IATF16949标准</li>
                            <li class="title-color text-bold">持续改进，勇于创新</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋售后服务</h3>
                        <ul>
                            <li class="title-color text-bold">无论何时何处，随时为客户提供售后支持</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="{{ url_for('.Stamping_tool_1') }}"><img src="static\img\advant_02.png" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}