{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>我们的优势</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('mold_making') }}">模具制造</a></li>
                    <li class="active"><a href="{{ url_for('advantages') }}">我们的优势</a></li>
                    <li class=""><a href="{{ url_for('Project_management') }}">项目管理</a></li>
                    <li class=""><a href="{{ url_for('design_engineering') }}">工程设计</a></li>
                    <li class=""><a href="{{ url_for('injection_molding') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div><h3>我们的优势</h3></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}