{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>注塑生产</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('main.mold_making') }}">模具制造</a></li>
                    <li class=""><a href="{{ url_for('main.advantages') }}">我们的优势</a></li>
                    <li class=""><a href="{{ url_for('main.Project_management') }}">项目管理</a></li>
                    <li class=""><a href="{{ url_for('main.design_engineering') }}">工程设计</a></li>
                    <li class="active"><a href="{{ url_for('main.injection_molding') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="{{ url_for('main.Insert_Molding') }}"><img src="static\img\molding_2.jpg" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋注塑生产</h3>
                        <ul>
                            <p>我们拥有73台注塑机，提供从90吨到400吨机器的选择，并且生产工艺符合ISO 9001质量标准。</p>
                            <li class="title-color text-bold">精密零件</li>
                            <li class="title-color text-bold">工程零件</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}