{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>项目管理</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('mold_making') }}">模具制造</a></li>
                    <li class=""><a href="{{ url_for('advantages') }}">我们的优势</a></li>
                    <li class="active"><a href="{{ url_for('Project_management') }}">项目管理</a></li>
                    <li class=""><a href="{{ url_for('design_engineering') }}">工程设计</a></li>
                    <li class=""><a href="{{ url_for('injection_molding') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <!-- <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="{{ url_for('Insert_Molding') }}"><img src="static\img\management_1.png" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋项目跟进</h3>
                        <ul>
                            <li class="title-color text-bold">明确项目进度，随时应对风险管理</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋强大的项目管理能力</h3>
                        <ul>
                            <p>unice的技术人员都具有工程设计能力和英语技能，确保能和您顺利沟通。您的项目将由始至终得到跟进。</p>
                            <li class="title-color text-bold">每周都会出具项目进度报告</li>
                            <li class="title-color text-bold">出具检验报告，并会在出厂前再次检查</li>
                            <li class="title-color text-bold">随时随地提供技术支持，并能根据实际情况给出解决方案</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="{{ url_for('Stamping_tool_1') }}"><img src="static\img\management_2.png" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}