{% extends "fr/base.html" %}

{% block title %}unice-关于我们{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>关于我们</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('fr.about_us') }}">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="#"><img src="static\img\about-us.png" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋关于我们</h3>
                        <ul>
                            <p>我们是一家精密模具制造、五金模具，注塑、喷油、组装为一体的实体制造商,我们的服务包括制造项目管理，组件设计支持，原型设计，工具设计和工具制造，自动成型，小零件丝网印刷和组装。</p>
                            <li class="title-color text-bold">精密模具制造</li>
                            <li class="title-color text-bold">五金模具</li>
                            <li class="title-color text-bold">注塑</li>
                            <li class="title-color text-bold">喷油</li>
                            <li class="title-color text-bold">原型设计</li>
                            <li class="title-color text-bold">工具设计</li>
                            <li class="title-color text-bold">自动成型</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋关于我们</h3>
                        <ul>
                            <p>我们拥有满足最严格的塑料注塑成型标准所需的技术专业知识，具有竞争力的价格，高质量的服务，高精密度的注塑成型塑料部件。</p>
                            <li class="title-color text-bold">小批量注塑成型</li>
                            <li class="title-color text-bold">中到大批量注塑成型</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="#"><img src="static\img\about_us_01.png" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}