{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>五金模具制造>>五金端子</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="{{ url_for('main.Insert_Molding') }}">塑胶模具制造</a></li>
                    <li class="active"><a href="{{ url_for('main.Stamping_tool_1') }}">五金模具制造</a></li>
                    <li class=""><a href="{{ url_for('main.plastic') }}">注塑生产</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel-group" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" href=""
                                            aria-expanded="true" aria-controls="collapseListGroup1">
                                            五金模具制造
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
                                    <ul class="list-group">
                                        <a href="{{ url_for('main.Stamping_tool_1') }}" class="list-group-item">弹片或屏蔽罩</a>
                                        <a href="{{ url_for('main.Stamping_tool_2') }}" class="list-group-item">拉伸或厚料五金产品</a>
                                        <a href="{{ url_for('main.Stamping_tool_3') }}" class="list-group-item active">五金端子</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\1.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\2.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\3.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\4.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\5.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\6.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\7.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\8.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\9.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\10.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\11.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\12.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\12.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\13.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\14.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\15.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\16.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\17.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\18.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\19.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\20.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\21.png">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="static\uploads\Stamping3\22.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}