{% extends "base.html" %}

{% block title %}unice-模具制造{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>质量保证</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('process_flowchart') }}">流程处理</a></li>
                    <li class=""><a href="{{ url_for('quality_assurance') }}">质量保证</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div><h3>质量保证</h3></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}