.navbar-style {
    background-color: #57606F;
    border: 0px;
    border-radius:0px;
    margin: 0px;
}

.navbar-nav {
    letter-spacing: -5px;
    float: none;
    text-align:center;
    position: relative;
}

.navbar-nav > li {
    letter-spacing: normal;
    float:none;
    display: inline-block;
    margin: 0;
    position: relative;

}


.navbar-nav li a {
    color: white;
    font-size: 16px;
    width: 150px;
    border-left: 2px solid white;
    position: relative;
}

.navbar-nav li a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #008000;  
    transition: 0.4s all linear;
}

.navbar-nav li a:hover::before {
    top:0;
    left: 0;
    width: 100%;
    transition-delay: 0.2s;
}
.last-navbar{
    border-right: 2px solid white;
}



.navbar-nav > li > a:hover {
  color: #ffefef;
  background-color: #57606F;
}

/* .navbar-nav > li > .active > a,
.navbar-nav > li > .active > a:hover,
.navbar-nav > li > .active > a:focus {
  color: #fff;
  background-color: #ff4757;
} */