{% extends "base.html" %}

{% block title %}unice-质量保证{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-3">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>质量保证</p>
                    <p>热情服务，追求卓越</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('main.quality_assurance') }}">质量保证</a></li>
                    <li class=""><a href="{{ url_for('main.process_flowchart') }}">工艺流程</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media">
                    <div class="media-left media-middle pl20 pt20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_01.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋品质保证</h3>
                        <p>产品质量是我们最高宗旨，绝不会因为任何妥协。Unice每个部门拥有质量理念。 我们的管理系统一直在更新，对质量问题从始至终都有纠正和预防措施。</p>
                        <img src="{{ url_for('static',filename='img/quality_assurance_02.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="media index_padding">
                    <div class="media-body index-text-style">
                        <h3 class="title-color">＋过程控制</h3>
                        <ul>
                            <li class="title-color text-bold">* ISO 9001认证</li>
                            <li class="title-color text-bold">* CMM + OGP验证组件</li>
                            <li class="title-color text-bold">*过程控制和检查</li>
                            <li class="title-color text-bold">*原材料/钢/硬度证明</li>
                            <li class="title-color text-bold">* 2〜3小时试运行以验证模具稳定性</li>
                            <li class="title-color text-bold">*发货前进行质量检查</li>
                        </ul>
                    </div>
                    <div class="media-right media-middle pr20">
                        <a href="#"><img src="{{ url_for('static',filename='img/quality_assurance_03.png') }}" alt="about us"
                                class="img-rounded"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}