{% extends "base.html" %}

{% block title %}unice-Ability{% endblock %}

{% block page_content %}
{{ super() }}
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ url_for('ability_team') }}" class="list-group-item">设计团队</a>
                <a href="{{ url_for('ability_equipment') }}" class="list-group-item">加工设备</a>
                <a href="{{ url_for('ability_quality') }}" class="list-group-item active">品质控制</a>
            </div>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">我们的能力</a></li>
                <li class="active">品质控制</li>
            </ol>
            <div class="row">
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-8 col-md-offset-2">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}