{% extends "base.html" %}

{% block title %}unice-Products-Insert Molding{% endblock %}

{% block page_content %}
{{ super() }}
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1"
                                aria-expanded="true" aria-controls="collapseListGroup1">
                                塑胶模具制造
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
                        aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                        <ul class="list-group">
                            <a href="{{ url_for('products_Insert_Molding') }}" class="list-group-item">插件塑胶制品</a>
                            <a href="{{ url_for('products_Electrical_Plastics_Molding') }}"
                                class="list-group-item active">电子塑胶制品</a>
                            <a href="{{ url_for('products_Rubber') }}" class="list-group-item">硅胶制品</a>
                            <a href="{{ url_for('products_Auto_Plastics_Part') }}" class="list-group-item">汽车塑胶制品</a>
                            <a href="{{ url_for('products_2k_Molding') }}" class="list-group-item">双色塑胶制品</a>
                            <a href="{{ url_for('products_Casting') }}" class="list-group-item">压铸制品</a>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup2"
                                aria-expanded="true" aria-controls="collapseListGroup1">
                                五金模具制造
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
                        <ul class="list-group">
                            <a href="{{ url_for('Stamping_tool_1') }}" class="list-group-item">弹片或屏蔽罩</a>
                            <a href="{{ url_for('Stamping_tool_2') }}" class="list-group-item">拉伸或厚料五金产品</a>
                            <a href="{{ url_for('Stamping_tool_3') }}" class="list-group-item">五金端子</a>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup3"
                                aria-expanded="true" aria-controls="collapseListGroup1">
                                注塑生产
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="collapseListGroupHeading3" aria-expanded="true">
                        <ul class="list-group">
                            <a href="{{ url_for('plastic') }}" class="list-group-item">注塑生产</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">我们的产品</a></li>
                <li><a href="">塑胶模具制造</a></li>
                <li class="active">电子塑胶制品</li>
            </ol>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="static\img\500x350.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}