{% extends "fr/base.html" %}

{% block title %}unice-Pièces Bi-matière{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container" id="container-fr">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Pièces en plastique>>Pièces Bi-matière</p>
                    <p>Service chaleureux et recherche de l'excellence</p>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 165px;"><a href="{{ url_for('fr.Auto_Plastics_Part') }}">Pièces en plastique</a></li>
                    <li class=""><a href="{{ url_for('fr.Stamping_tool_3') }}">Outillages</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('fr.Precision') }}">Pièces de précision</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('fr.Prototype') }}">Pièces Prototypes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel-group" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" href="" aria-expanded="true"
                                            aria-controls="collapseListGroup1">
                                            Injection de pièces plastique
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                                    <ul class="list-group">
                                        <a href="{{ url_for('fr.Auto_Plastics_Part') }}"
                                            class="list-group-item">Pièces automobile en plastique</a>
                                        <a href="{{ url_for('fr.twok_Molding') }}"
                                            class="list-group-item active">Pièces Bi-matière</a>
                                        <a href="{{ url_for('fr.Electrical_Plastics_Molding') }}"
                                            class="list-group-item">Pièces électriques en plastique</a>
                                        <a href="{{ url_for('fr.Insert_Molding') }}"
                                            class="list-group-item">Surmoulage Parts</a>
                                        <a href="{{ url_for('fr.Rubber') }}" class="list-group-item">Pièces en caoutchouc</a>
                                        <a href="{{ url_for('fr.Casting') }}" class="list-group-item">Pièces moulées sous pression</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/2k/1.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/2k/2.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/2k/3.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/2k/4.png') }}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 product-img">
                                <a class="thumbnail">
                                    <img src="{{ url_for('static',filename='uploads/2k/5.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}