{% extends "fr/base.html" %}

{% block title %}unice-Pièces de précision{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container" id="container-fr">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Pièces de précision</p>
                    <p>Service chaleureux et recherche de l'excellence</p>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" style="width: 165px;"><a href="{{ url_for('fr.Auto_Plastics_Part') }}">Pièces en plastique</a></li>
                    <li class=""><a href="{{ url_for('fr.Stamping_tool_3') }}">Outillages</a></li>
                    <li class="active" style="width: 165px;"><a href="{{ url_for('fr.Precision') }}">Pièces de précision</a></li>
                    <li class="" style="width: 165px;"><a href="{{ url_for('fr.Prototype') }}">Pièces Prototypes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-10 col-xs-offset-1">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_01.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_02.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_03.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_04.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_05.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_06.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_07.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_08.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_09.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_10.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_11.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_12.png')}}">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4 plastic-img">
                                <a class="thumbnail">
                                    <img src="{{url_for('static',filename = 'uploads/Precision/Precision_13.png')}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}