{% extends "fr/base.html" %}

{% block title %}unice-Nous Contacter{% endblock %}
{% block content %}
<div class="container-fluid second-navbar-style" id="second-navbar">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-4">
                <div class="second-navbar-text-style">
                    <p><i class="mega-menu-title_icon glyphicon glyphicon-menu-left"></i>Nous Contacter</p>
                    <p>Service chaleureux et recherche de l'excellence</p>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="width: 160px;"><a href="{{ url_for('main.contact_us') }}">Nous Contacter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color-style">
        <div class="bg-style clear index-third container-margin">
            <div class="container index_padding clear">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-text-style">
                            <h3>Unice Mold Industrial(ShenZhen) Co., Ltd</h3>
                            <p>Add:406-04C, Building B, CMP Plant, No. 19, Science and Technology Zhongyi Road, Maling Community, Yuehai Street, Nanshan District, Shenzhen,Guangdong,518000,China</p>
                            <p>Email:kayla@unicemold.com</p>
                            <p>Web: http://www.unicemold.com/</p>
                        </div>
                        <h3 class="contact-text-style">VOS COORDONNÉES:</h3>
                        <form>
                            <div class="form-group contact-text-style">
                                <div class="form-group">
                                    <label for="yourname">Nom/Prénom：</label>
                                    <input type="text" class="form-control" id="yourname" placeholder="Nom et Prénom">
                                </div>
                                <div>
                                    <label for="youremail">Email：</label>
                                    <input type="email" class="form-control" id="youremail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="yourcompany">Votre Société：</label>
                                    <input type="text" class="form-control" id="yourcompany" placeholder="Votre Société">
                                </div>
                                <div class="form-group">
                                    <label for="yourphone">Votre numéro de téléphone：</label>
                                    <input type="text" class="form-control" id="yourphone"
                                        placeholder="Votre numéro de téléphone">
                                </div>
                                <div class="form-group">
                                    <label for="query-text">Messages：</label>
                                    <textarea class="form-control" id="query-text" rows="8"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}