{% extends "bootstrap/base.html" %}



{% block title %}优耐思官网{% endblock %}

{% block head %}
{{ super() }}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
<img src="static/img/unice_logo.gif" alt="unice-banner" class="img-responsive center-block" alt="Responsive image">
<div class="container-fluid navbar-style">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <ul class="nav navbar-nav ul-text-style">
                <li class="divider"></li>
                <li><a href="/" class="active">主 页</a></li>
                <li><a href="/">关于我们</a></li>
                <li><a href="/">我们的产品</a></li>
                <li><a href="/">我们的能力</a></li>
                <li><a href="/">联系我们</a></li>
                <li><a href="/">人才招聘</a></li>
            </ul>
    </div>
    <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}