{% extends "base.html" %}

{% block title %}unice-Index{% endblock %}


{% block page_content %}
<!-- 导航banner -->
<div class="" id="myCarousel">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
            <li data-target="#carousel-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="#" alt="" style="background-image: url('/static/img/testimg05.jpg');">
            </div>
            <div class="item">
                <img src="#" alt="" style="background-image: url('/static/img/testimg02.jpg');">
            </div>
            <div class="item">
                <img src="#" alt="" style="background-image: url('/static/img/testimg03.jpg');">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="divider"></div>
<div class="row index-text-style">
    <div class="col-md-4">
        <div class="product-title">
            <h3>塑胶模具制造</h3>
        </div>
        <div class="hovereffect">
            <img class="img-responsive center-block" src="static\img\1.png" alt="">
            <div class="overlay">
                <h2>塑胶模具制造</h2>
                <a class="info" href="{{ url_for('products_Insert_Molding') }}">查看详情</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-title">
            <h3>五金模具制造</h3>
        </div>
        <div class="hovereffect">
            <img class="img-responsive center-block" src="static\img\6.png" alt="">
            <div class="overlay">
                <h2>五金模具制造</h2>
                <a class="info" href="{{ url_for('Stamping_tool_1') }}">查看详情</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-title">
            <h3>注塑生产</h3>
        </div>
        <div class="hovereffect">
            <img class="img-responsive center-block" src="static\img\3-2 72px.jpg" alt="">
            <div class="overlay">
                <h2>注塑生产</h2>
                <a class="info" href="{{ url_for('plastic') }}">查看详情</a>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="media">
    <div class="media-left media-middle">
        <a href="{{ url_for('about_us') }}"><img src="static\img\about-us.png" alt="about us"></a>
    </div>
    <div class="media-body index-text-style">
        <h3>关于我们</h3>
        <p>提供全方位服务的注塑成型，嵌件成型和包覆成型解决方案的所在地,我们是一家精密模具制造、五金模具，注塑、组装为一体的实体制造商,我们的服务包括制造项目管理，组件设计支持，原型设计，工具设计和工具制造，自动成型和组装。
        </p>
        <p>优耐思提供从简单到不可能的制造解决方案，并涉及广泛的行业，包括汽车行业、施工、电子产品、休闲娱乐、医疗类等。</p>
        <br />
        <p><a class="btn btn-primary" href="{{ url_for('about_us') }}" role="button">了解更多</a></p>
    </div>
</div>
<div class="divider"></div>
<div class="media">
    <div class="media-body index-text-style">
        <h3>设计团队</h3>
        <p>收到客户的概念或要求后，优耐思将利用多年的制造专业知识和最新的软件为我们的客户提供高质量，高性价比的解决方案。</p>
        <p>与供应商的良好工作关系可确保指定最合适的材料，并始终提供技术支持。 YNC将制定旨在节省成本和简化成本的提案。优耐思拥有超过15年的塑料模具设计人员，在专业的模具设计和产品经验方面拥有丰富的模具开发和后期制作经验。
            为生产提供高质量的保障和服务。</p>
        <p>我们的设计工程师使用各种最新的3DCAD/CAM软件包，并且我们还进行了模流仿真，以帮助改善零件设计，工具布局和制造工艺。</p>
        <p><a class="btn btn-primary" href="{{ url_for('ability_team') }}" role="button">了解更多</a></p>
    </div>
    <div class="media-right media-middle">
        <a href="{{ url_for('ability_team') }}"><img src="static\img\design-Center.png" alt="solution"></a>
    </div>
</div>
<div class="divider"></div>
<div class="media">
    <div class="media-left media-middle">
        <a href="{{ url_for('ability_quality') }}"><img src="static\img\solution.png" alt="team"></a>
    </div>
    <div class="media-body index-text-style solution-text-style">
        <h3>解决方案</h3>
        <p>一切始于注塑模具。</p>
        <p>我们拥有满足最严格的塑料注塑成型标准所需的技术专业知识。 优耐思以生产具有竞争力的价格提供最高质量和精度的注塑成型塑料部件而闻名。</p>
        <p> 1）小批量注塑成型：</p>
        <p>这对我们和我们的大量工作一样重要。无论数量多少，我们都会为每个项目提供相同的高度关注和关注。</p>
        <p>2）中到大批量注塑成型：</p>
        <p>我们熟练的操作员使用各种尺寸的塑料注塑机来交付任何数量的高质量工程塑料部件。我们提供了许多工具增强功能和定制的自动化系统，以帮助加快刀片装载和零件提取的速度。</p>
        <p><a class="btn btn-primary" href="{{ url_for('ability_quality') }}" role="button">了解更多</a></p>

    </div>
</div>
<div class="divider"></div>

{% endblock %}