{% extends "base.html" %}

{% block title %}unice{% endblock %}

{% block content %}
{{ super() }}
    <div>
        <p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p><p>这里另外一个主页内容</p>
    </div>

{% endblock %}