{% extends "base.html" %}

{% block title %}unice-Index{% endblock %}


{% block content %}
<!-- 导航banner -->
<div id="carousel-generic" class="carousel slide myCarousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/static/img/testimg05.jpg" alt="">
        </div>
        <div class="item">
            <img src="/static/img/testimg03.jpg" alt="">
        </div>
        <div class="item">
            <img src="/static/img/testimg04.jpg" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="bg-style clear index-first container-margin">
    <div class="container index_padding first-padding">
        <div class="title">unice专业模具制造——您的最佳选择</div>
        <div class="text-style">
            <p>提供全方位服务的注塑成型，嵌件成型和包覆成型解决方案的所在地,我们是一家精密模具制造、五金模具，注塑、组装为一体的实体制造商,我们的服务包括制造项目管理，组件设计支持，原型设计，工具设计和工具制造，自动成型和组装。
            </p>
            <br>
            <p>优耐思提供从简单到不可能的制造解决方案，并涉及广泛的行业，包括汽车行业、施工、电子产品、休闲娱乐、医疗类等。</p>
        </div>
        <a href="{{ url_for('main.mold_making') }}" class="btn-style">&gt; 了解更多</a>
    </div>
</div>
<div class="bg-style clear index-second container-margin">
    <div class="container index_padding">
        <div class="row index-text-style">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="static\img\quality.jpg" alt="">
                    <div class="overlay">
                        <h2>品质控制</h2>
                        <a class="info" href="{{ url_for('main.process_flowchart') }}">了解更多</a>
                    </div>
                </div>
                <div class="inner-margin"></div>
                <div class="text-center clear">
                    <h3 class="title-color">品质控制</h3>
                    <p>品质是Unice的首要追求</p>
                    <p><a href="{{ url_for('main.process_flowchart') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="static\img\product.jpg" alt="">
                    <div class="overlay">
                        <h2>我们的产品</h2>
                        <a class="info" href="{{ url_for('main.Insert_Molding') }}">了解更多</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">我们的产品</h3>
                    <p>塑料,五金,注塑,多种产品类别供您选择</p>
                    <p><a href="{{ url_for('main.Insert_Molding') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive center-block" src="static\img\service.jpg" alt="">
                    <div class="overlay">
                        <h2>我们的服务</h2>
                        <a class="info" href="{{ url_for('main.mold_making') }}">了解更多</a>
                    </div>
                </div>
                <div class="text-center clear">
                    <h3 class="title-color">我们的服务</h3>
                    <p>Unice从事注塑模具制造，注塑成型和冲压模具。</p>
                    <p><a href="{{ url_for('main.mold_making') }}" class="btn-style">&gt; 了解更多</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media">
            <div class="media-left media-middle pl20 pt20">
                <a href="{{ url_for('main.Insert_Molding') }}"><img src="static\img\1.png" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋塑胶模具制造</h3>
                <ul>
                    <li class="title-color text-bold">插件塑胶制品</li>
                    <li class="title-color text-bold">电子塑胶制品</li>
                    <li class="title-color text-bold">硅胶制品</li>
                    <li class="title-color text-bold">汽车塑胶制品</li>
                    <li class="title-color text-bold">双色塑胶制品</li>
                    <li class="title-color text-bold">压铸制品</li>
                </ul>
                <p><a href="{{ url_for('main.Insert_Molding') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-body index-text-style">
                <h3 class="title-color">＋五金模具制造</h3>
                <ul>
                    <li class="title-color text-bold">弹片或屏蔽罩</li>
                    <li class="title-color text-bold">拉伸或厚料五金产品</li>
                    <li class="title-color text-bold">五金端子</li>
                </ul>
                <p><a href="{{ url_for('main.Stamping_tool_1') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
            <div class="media-right media-middle pr20">
                <a href="{{ url_for('main.Stamping_tool_1') }}"><img src="static\img\6.png" alt="" class="img-rounded"></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-style clear index-third container-margin">
    <div class="container index_padding clear">
        <div class="media index_padding">
            <div class="media-left media-middle pl20">
                <a href="{{ url_for('main.plastic') }}"><img src="static\img\2.jpg" alt=""
                        class="img-rounded"></a>
            </div>
            <div class="media-body index-text-style">
                <h3 class="title-color">＋注塑生产</h3>
                <ul>
                    <p class="title-color text-bold">内容简介</p>
                </ul>
                <p><a href="{{ url_for('main.plastic') }}" class="btn-style btn-margin">&gt; 了解更多</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}