{% extends "base.html" %}

{% block title %}unice-Recruitment{% endblock %}

{% block page_content %}
{{ super() }}
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <!-- <a href="#" class="list-group-item active">
                        产品大全
                    </a> -->
                <a href="#" class="list-group-item active">人才招聘</a>
            </div>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">人才招聘</li>
            </ol>
            <h4>欢迎有志之士加入我们的团队。</h4>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}